body{
    text-align: center;
    background-color: snow;
    color: tomato;
}


img{
    width: 25%;
    height: 25%;
}


#dancing{
    display: none;
    height: 20%;
}

#pizzaTime{
    display: none;
}